<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('accessibility_statement.top_heading') %>
    </h1>
    <p>
      <%= t('accessibility_statement.intro') %>
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="https://<%= t('accessibility_statement.service_link') %>">www.<%= t('accessibility_statement.service_link') %></a></li>
    </ul>
    <p>
      <%= t('accessibility_statement.paragraph_1.text') %>
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li><%= t('accessibility_statement.paragraph_1.list.bullet_point_1') %></li>
        <li><%= t('accessibility_statement.paragraph_1.list.bullet_point_2') %></li>
        <li><%= t('accessibility_statement.paragraph_1.list.bullet_point_3') %></li>
        <li><%= t('accessibility_statement.paragraph_1.list.bullet_point_4') %></li>
         <li><%= t('accessibility_statement.paragraph_1.list.bullet_point_5') %></li>
    </ul>
    <p>
      <%= t('accessibility_statement.paragraph_2') %>
    </p>
    <p>
      <%= t("accessibility_statement.paragraph_3.text_before_link") %> <a class="govuk-link" href="<%= t("accessibility_statement.paragraph_3.link_url") %>"><%= t("accessibility_statement.paragraph_3.link_text") %></a> <%= t("accessibility_statement.paragraph_3.text_after_link") %>
    </p>
    <h2 class="govuk-heading-l">
      <%= t('accessibility_statement.contact_heading') %>
    </h2>
    <p>
      <%= t('accessibility_statement.contact_paragraph.text') %>
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>
          <%= t('accessibility_statement.contact_paragraph.contact_list.email_label') %>
          <a class="govuk-link"
             href="mailto:<%= t("accessibility_statement.contact_paragraph.contact_list.email_address") %>?subject=<%= CGI.escape(t("accessibility_statement.contact_paragraph.contact_list.email_subject")) %>%20-%20">
            <%= t("accessibility_statement.contact_paragraph.contact_list.email_address") %>
          </a>
        </li>
        <li><%= t('accessibility_statement.contact_paragraph.contact_list.telephone') %></li>
    </ul>
    <h2 class="govuk-heading-l">
      <%= t('accessibility_statement.reporting_heading') %>
    </h2>
    <p>
      <%= t('accessibility_statement.reporting_paragraph') %>
    </p>
    <h2 class="govuk-heading-l">
      <%= t('accessibility_statement.enforcement_heading') %>
    </h2>
    <p>
      <%= t('accessibility_statement.enforcement_paragraph') %>
    </p>
    <h2 class="govuk-heading-l">
      <%= t('accessibility_statement.technical_heading') %>
    </h2>
    <p>
      <%= t('accessibility_statement.technical_paragraph') %>
    </p>
    <h3 class="govuk-heading-m">
      <%= t('accessibility_statement.compliance_heading') %>
    </h3>
    <p>
      <%= t('accessibility_statement.compliance_paragraph') %>
    </p>
    <h2 class="govuk-heading-l">
      <%= t('accessibility_statement.non_accessible_heading') %>
    </h2>
    <p>
      <%= t('accessibility_statement.non_accessible_paragraph') %>
    </p>
    <h3 class="govuk-heading-m">
      <%= t('accessibility_statement.non_compliance_heading') %>
    </h3>
    <p><%= t('accessibility_statement.non_compliance_paragraph_1') %></p>
    <h3 class="govuk-heading-m">
      <%= t('accessibility_statement.out_of_scope_heading') %>
    </h3>
    <p>
      <%= t('accessibility_statement.out_of_scope_paragraph') %>
    </p>
    <h2 class="govuk-heading-l">
      <%= t('accessibility_statement.what_we_do_heading') %>
    </h2>
    <p>
      <%= t('accessibility_statement.what_we_do_paragraph_1') %>
    </p>
    <h2 class="govuk-heading-l">
      <%= t('accessibility_statement.preparation_heading') %>
    </h2>
    <p>
      <%= t('accessibility_statement.preparation_paragraph') %>
    </p>
    <p>
      <%= t('accessibility_statement.accessibility_audit') %>
    </p>
  </div>
</div>
