<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div>
      <h1 class="govuk-heading-xl"><%= t('my_account.title') %></h1>

      <dl class="govuk-summary-list govuk-!-width-full">
        <div class="govuk-summary-list__row" id="email-address">
          <dt class="govuk-summary-list__key">
            <%= t('my_account.email_address') %>
          </dt>
          <dd class="govuk-summary-list__value" id="email-address-value">
            <%= ViewModels::MyAccount.get_email_address(session) %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" id="email-sign-out" href="/sign-out"><%= t('my_account.sign_out') %><span class="govuk-visually-hidden"> sign out</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row" id='bearer-token'>
          <dt class="govuk-summary-list__key">
            <%= t('my_account.bearer_token') %>
          </dt>
          <dd class="govuk-summary-list__value" id="bearer-token-value">
            <%= ViewModels::MyAccount.get_bearer_token(locals[:user_info]) %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= erb :component__copy_bearer_token %>
          </dd>
        </div>
        <div class="govuk-summary-list__row" id='opt-out'>
          <dt class="govuk-summary-list__key">
            <%= t('my_account.email_notifications') %>
          </dt>
          <dd class="govuk-summary-list__value" id="opt-out-value">
            <%= ViewModels::MyAccount.get_opt_out_description(locals[:user_info]) %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= erb :component__opt_out_status_toggle, locals: {
              is_opted_out: ViewModels::MyAccount.get_opt_out(locals[:user_info])
            } %>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-l govuk-!-margin-top-9">
        <%= t('my_account.delete_account.header') %>
      </h2>

      <p class="govuk-body">
        <%= t('my_account.delete_account.body')[0] %>
      </p>

      <p class="govuk-body">
        <%= t('my_account.delete_account.body')[1] %>
      </p>

      <p class="govuk-body">
        <%= t('my_account.delete_account.body')[2] %>
      </p>

      <a class="govuk-button govuk-button--secondary" id="delete-account-button" href="/api/my-account/delete-account">
        <%= t('my_account.delete_account.button') %>
      </a>
    </div>
  </div>
</div>